
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');


$siteBlue:#425A8B;
$siteOrange:#FD4501;
$siteText:#484957;
$siteWhite:#ffffff;

body {
    font-family: 'Nunito', sans-serif;
}
.header-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
}
.genie_img {
    width: 100%;
    display: block;
}
.logo_box {
    text-align: left;
    padding: 5px 0;
    margin-left: -12px;
    margin-bottom: 40px;
    @media (max-width:991px) {
        margin-left: 0;
    }
    a {
        display: inline-block;
    }
}
.ban-text-wrap {
    padding-left: 10%;
    padding-right: 10%;
    @media (max-width:1024px) {
        padding-left: 5%;
        padding-right: 5%;
    }
    @media (max-width:767px) {
        padding-left: 3%;
        padding-right: 3%;
    }
}
.banner {
    position: relative;
    padding-top: 50px;
    &:after {
        background-image: url(../images/banner-bg.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: cover;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
    .container {
        position: relative;
        z-index: 10;
    }
    .container-fluid {
        position: relative;
        z-index: 10;
    }
    .ban-row {
        align-items: center;
    }
}
.ginie-img {
    img {
        width: 100%;
        display: block;
    }
}

.tag-line {
    font-size: 40px;
    font-weight: 700;
    color: $siteText;
    //text-shadow: 0 0 5px rgba(255,255,255,0.5);
    @media (max-width:991px) {
        color: $siteWhite;
    }
    span {
        color: $siteOrange;
    }
}
.ban-desc {
    font-size: 16px;
    color: $siteText;
    margin-bottom: 0;
    margin-top: 20px;
    @media (max-width:991px) {
        color: darken($siteWhite, 15%);
    }
}
.used_app {
    display: flex;
    align-items: center;
    margin-top: 35px;
    ul {
        display: flex;
        align-items: center;
        margin-right: 10px;
        padding: 0;
        li:not(:first-child) {
            margin-left: -15px;
        }
        li {
            list-style-type: none;
            img {
                height: 40px;
                width: 40px;
                line-height: 3rem;
            }
        }
    }
    p {
        font-size: 16px;
        color: $siteText;
        font-weight: 500;
        line-height: 1;
        @media (max-width:991px) {
            color: darken($siteWhite, 15%);
        }
    }
}
.title-1 {
    font-size: 32px;
    color: $siteText;
    span {
        color: $siteOrange;
    }
}
.btn {
    &.site-btn-primary {
        background-color: $siteBlue;
        color: $siteWhite;
        &:hover {
            background-color: darken($siteBlue, 10%);
        }
    }
}

.site-footer {
    background-color: $siteBlue;
}
.footer-quick-link {
    align-items: center;
    .icons {
        lord-icon {
            width: 30px !important;
            height: 30px !important;
        }
    }
    .text {
        padding-left: 10px;
        color: $siteWhite;
        a {
            color: $siteWhite;
            text-decoration: none;
            font-size: 18px;
            @media (max-width:1024px) {
                font-size: 16px;
            }
        }
    }
}
.social_list {
    display: flex;
    justify-content: flex-end;
    @media (max-width:991px) {
        justify-content: flex-start;
    }
    a {
        width: 40px;
        height: 40px;
        display: block;
        padding: 5px;
        @media (max-width:1024px) {
            width: 30px;
            height: 30px;
        }
        svg {
            width: 100%;
            height: 100%;
            fill: $siteWhite;
        }
    }
}
.box-card {
    margin-bottom: 20px;
    .card-body {
        display: flex;
        .icon-wrap {
            width: 50px;
            height: 50px;
            padding: 5px;
            flex: 0 0 auto;
            @media (max-width:1024px) {
                width: 36px;
                height: 36px;
            }
            svg {
                width: 100%;
                height: 100%;
            }
        }
        .shrt-desc {
            flex: 1;
            padding-left: 10px;
            h5 {
                font-size: 20px;
                font-weight: 600;
                @media (max-width:1024px) {
                    font-size: 18px;
                }
                @media (max-width:767px) {
                    font-size: 18px;
                    margin-bottom: 3px;
                }
            }
        }
    }
}
.site-text {
    color: $siteText;
    font-size: 16px;
    @media (max-width:1024px) {
        font-size: 14px;
    }
}
.choose_text {
    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.container {
    @media (max-width:991px) {
        width: 100%;
        max-width: 100%;
    }
}